callee/src/main/resources/com/smzdm/status/model/runtime.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:element name="runtime" type="RuntimeType"/>
   <xs:complexType name="RuntimeType">
      <xs:sequence>
         <xs:element name="user-dir" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="java-classpath" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="start-time" type="xs:long"/>
      <xs:attribute name="up-time" type="xs:long"/>
   </xs:complexType>
</xs:schema>
